<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>Click this <%= link_to("link", @url) %> to reset your password</p>
</body>
</html>