<h2>Reset your password</h2>
<form action="<%= password_reset_url %>" method="POST">
  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">
  <input type="submit" value="Send password reset email">
</form>